doctype html
html(lang='en')
    link(rel="stylesheet", href="style2.css")
    button(id='pauseBtn') Pause
    button(id='XY') XY
    button(id='XZ') XZ
    button(id='YZ') YZ
    button(id='XU') XU
    button(id='YU') YU
    button(id='ZU') ZU

    button(id='reset') Reset
    button(id='wireframe') Wireframe
    input(type="range" min="1" max="100" value="50" class="slider" id="myRange")

    body
        
        //- canvas#myCanvas
        script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.min.js")
        script(src="cube4d.js")